#confirm {width:40%; padding:60px 0; border:1px solid rgba(218,41,28,.8); background:#fff; border-radius:15px; 
    position:fixed; left:50%; top:50%; transform:translateX(-50%) translateY(-50%);}
#confirm p {width:90%; font-family:'Nanum Gothic', sans-serif; text-align:center; margin:0 auto; font-size:22px; color:rgba(218,41,28,.8);}
.confirmBtn_box {width:fit-content; margin:40px auto 0; overflow:hidden;}
.confirmBtn_box a {display:block; float:left; width:180px; margin-right:80px; padding:15px 0; background:rgba(218,41,28,.8); border-radius:15px;
    font-family:'Nanum Gothic', sans-serif; color:#fff; text-align:center;}
.confirmBtn_box a:nth-of-type(2) {margin-right:0;}
#confirmBg {width:100%; background:rgba(255,255,255,.8); position:fixed; left:0; bottom:0; z-index:1}

@media screen and (max-width:1620px) {
}

@media screen and (max-width:1280px) {

    #confirm {width:60%; padding:50px 0;}
    #confirm p {width:90%;}
    .confirmBtn_box a {width:180px; margin-right:80px;}
}

@media screen and (max-width:1024px) {

    #confirm {width:80%;}
    .confirmBtn_box a {margin-right:80px;}
}

@media screen and (max-width:768px) {
    
    #confirm {width:90%;}
    .confirmBtn_box a {width:180px; margin-right:60px;}
}

@media screen and (max-width:640px) {
    
    .confirmBtn_box a {width:160px; margin-right:40px;}
}