#contents {width:100%; margin:0 auto;}

.content_area {font-family:'Nanum Gothic', sans-serif; width:100%; margin:160px auto 0; padding-bottom:180px; position:relative;}
.total_searchbox>a {display:block; position:relative;}
.total_searchbox>a span {display:block; padding:7px 20px; border:1px solid #fff; color:#fff; font-size:.9em; border-radius:10px;
    position:absolute; left:50%; margin-left:100px; top:50%; margin-top:-19px;}
.content_area h3 {font-family:'Arial', sans-serif; font-weight:700; font-size:1.7em; color:#333; text-align:center; text-transform:capitalize;
    position:relative; background:rgb(225,84,73); color:#fff; letter-spacing:7px; padding:15px 0; border-radius:15px;}
    
.con_inner {width:1200px; margin:0 auto; padding:0 50px 20px;}

.total_searchbox {width:1192px; margin:0 auto 50px; }
.total_searchbox form#search_area {width:100%; height:0; padding:0; overflow:hidden; transition:all .05s ease-out;
    box-shadow:#eee 0 0 5px 5px; border-radius:15px;}
.total_searchbox form#search_area input {border-radius:5px; outline:0; border:1px solid #666; box-shadow:#eee 0 0 5px 2px inset;}
/* Main_Category Box Select */
.category_top {width:100%; overflow:hidden;}
.main_categoryBox {position:relative; width:100%; overflow:hidden; margin-bottom:30px; padding-bottom:25px;}
.main_categoryBox dt {display:block; text-align:center; font-size:20px; font-weight:700; padding:10px 0; margin:0 auto;}
.main_categoryBox .main_cate_selec {float:left; width:25%; text-align:center; padding:10px 0;}
.main_categoryBox select {position:absolute; left:20px; top:0; z-index:-1; font-size:1px;}
/* Main_Category Box Select End */

/* Sub_Category Box Select */
.sub_categoryBox {position:relative; width:100%; overflow:hidden; margin-bottom:30px; padding-bottom:25px;}
.sub_categoryBox dt {display:block; text-align:center; font-size:20px; font-weight:700; padding:10px 0; margin:0 auto;}
.sub_categoryBox dd {display:none;}
.sub_categoryBox .subcat_default {display:block; text-align:center; padding:10px 0 0; color:#999;}
.sub_categoryBox dd ul {overflow:hidden; padding:10px 0;}
.sub_categoryBox dd ul:nth-last-of-type(1) {padding:10px 0 0;}
.sub_categoryBox .sub_cate_selec {float:left;  width:25%; text-align:center; padding:10px 0; margin-bottom:10px;}
.sub_categoryBox.open {height:auto;}
/* Sub_Category Box Select End */

/* Size Select Box */
.size_selectBox {position:relative; width:100%; overflow:hidden; margin-bottom:40px;}
.size_selectBox dt {display:block; text-align:center; font-size:20px; font-weight:700; padding:10px 0 0; margin:0 auto;}
.size_selectBox>dd {display:block; float:left; width:42%; position:relative;}
.size_selectBox .size_x {margin:0 3% 0 5%;}
.size_selectBox .size_y {margin:0 5% 0 3%;}
.size_selectBox dd dl {overflow:hidden; padding:10px 0;}
.size_selectBox dd dl dt {padding:0 0 10px; font-size:18px; color:#666; margin-bottom:10px;}
.size_selectBox dd dl dd {display:block; width:18%; float:left; padding:0 1%; box-sizing:border-box;}
.size_selectBox dd dl dd:nth-last-of-type(1) {float:right;}
.size_selectBox dd dl dd input {display:block; width:90%; padding:7px 5%; float:right; text-align:center;}
.size_selectBox .slide_bar {width:63.5%; height:30px; position:relative;}
.size_selectBox .slide_bar .min, .size_selectBox .slide_bar .max {display:block; width:25px; height:25px; position:absolute; border-radius:50%; box-shadow:rgba(218,41,28,.2) 0 0 5px 1px;}
.size_selectBox .slide_bar .min {left:0; top:3px; background:rgb(147, 185, 90);z-index:2;}
.size_selectBox .slide_bar .max {right:0; top:3px; background:rgb(119, 121, 192);z-index:2;}
.size_selectBox .slide_bar .bar {display:block; width:auto; height:4px; margin-left:1%; margin-top:13px; margin-right:1%; background:rgba(218,41,28,.8); position:relative; z-index:1;}
.size_selectBox .slide_bar .bar_back {display:block; width:99%; height:4px; margin-left:1%; margin-right:1%; background:#ecc; border-radius:5px; position:absolute; top:12px; left:0;}
/* Size Select Box End */

/* Search Btn Area */
.category_bottom {width:fit-content; margin:0 auto; overflow:hidden;}
#search {display:block; padding:8px 15px; margin-right:15px;}
.category_bottom .search_box {width:200px; float:left;}
.category_bottom .search_btn {border-radius:10px; float:left; overflow:hidden; text-align:center; width:100px; margin-left:20px;}
.category_bottom .search_btn a {display:block; padding:7px 15px; background:rgba(218,41,28,.8); color:#fff; font-size:16px;}
/* Search Btn Area End */

.con_inner .top_box {overflow:hidden; margin-bottom:15px;}
.con_inner .top_box #scale, #search_area #search_category {font-family:'Nanum Gothic','Arial', sans-serif; font-size:16px; padding:8px 6px 8px 12px; outline:0; margin-right:20px;}
.con_inner .top_box .scale_wrap {float:left; margin-left:10px;}

.list_top {width:100%; height:6px; background:rgba(218,41,28,.8); border-radius:10px;}
.list_con_wrap {width:1200px; margin:0 auto; overflow:hidden; position:relative;}
.list_con_wrap li {width:50%; padding:10px 0; border-bottom:1px solid #ccc; float:left; position:relative;}
.list_con_wrap li .modal_list {display:block; width:100%; overflow:hidden;}
.list_con_wrap li .modal_list img {display:block; width:50%; border:0; float:left;}
.list_con_wrap li .modal_list dl {font-family:'Nanum Gothic','Arial', sans-serif; 
    display:block; width:46%; margin-left:4%; float:left; padding:17px 0;}
.list_con_wrap li .modal_list dl dt {font-size:20px; margin-bottom:10px; text-transform:capitalize; font-weight:700; color:#666;}
.list_con_wrap li .modal_list dl dd span {display:inline-block; font-size:16px; margin-right:20px;}
.list_con_wrap li .modal_list dl dd:nth-of-type(1) {margin-bottom:15px;}
.list_con_wrap li .modal_list dl dd:nth-last-of-type(1) span {display:block; text-overflow:ellipsis; word-wrap:break-word; overflow:hidden;  
    display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:3; line-height:1.8em; height:5.2em;}

.list_con_wrap .modal_open {position:fixed; width:600px; left:50%; top:50%; transform:translateX(-50%) translateY(-50%); 
    background:#fff; z-index:200; padding:20px 20px 0;}
.list_con_wrap .modal_open .modal_list img {width:598px; margin:0 auto; float:none; border:1px solid #ccc;}
.list_con_wrap .modal_open .modal_list dl {width:100%; margin-left:0; text-align:center; float:none;}
.list_con_wrap .modal_open .modal_list dl dt {padding:15px 0; background:rgba(218,41,28,.8); color:#fff; margin-bottom:0;}
.list_con_wrap .modal_open .modal_list dl dd:nth-of-type(1) {background:rgb(101,100,96); padding:10px 0; margin-bottom:2px; color:#fff;}
.list_con_wrap .modal_open .modal_list dl dd:nth-of-type(2) {border:1px solid rgb(101,100,96); padding:10px 0;}
.list_con_wrap .modal_open .modal_list dl dd:nth-last-of-type(1) {padding:20px 0;}
.list_con_wrap .modal_open .modal_list dl dd:nth-last-of-type(1) span {display:block; text-overflow:unset; word-wrap:unset; overflow:unset;  
    -webkit-box-orient:unset; -webkit-line-clamp:unset; line-height:1.8em; height:fit-content;}
.modal_bg {width:100%; background:rgba(0,0,0,.9); position:fixed; left:0; top:0; z-index:150;}

.admin_btn {position:absolute; right:15px; bottom:20px; overflow:hidden; z-index:10;}
.admin_btn a {display:block; padding:10px 20px; background:rgba(218,41,28,.8); border-radius:10px; color:#fff; font-size:14px; margin-right:10px; float:left;}
.admin_btn.adminmod_open {right:25px; bottom:30px; z-index:210;}
.list_con_wrap li .exit {display:none; width:40px; height:40px; background:rgba(218,41,28,.8); border-radius:5px; position:absolute; right:30px; top:30px;}
.list_con_wrap li .exit::before {content:''; display:block; width:24px; height:3px; border-radius:20px; background:#fff; transform:rotate(45deg); 
    position:absolute; top:50%; left:50%; margin-left:-12px; margin-top:-2px;}
.list_con_wrap li .exit::after {content:''; display:block; width:24px; height:3px; border-radius:20px; background:#fff; transform:rotate(-45deg); 
    position:absolute; top:50%; left:50%; margin-left:-12px; margin-top:-2px;}

.page_button {width:100%; margin:30px auto 0; overflow:hidden;}
#page_num {width:60%; float:left;}
#page_num>span {display:block; float:left; padding:7px 10px 0;}
#page_num div {float:left;}
#page_num .page_current {display:block; float:left; padding:5px 10px; font-size:20px; font-weight:700;}
#page_num a {display:block; float:left; margin-right:5px; padding:5px 10px; font-size:20px;}
#page_num .before{position:relative; padding:5px 15px; margin-left:20px;}
#page_num .next{position:relative; padding:5px 15px;}
#button {float:right;}
#button a {display:block; width:120px; text-align:center; float:left; margin-right:25px; padding:10px 0; color:#fff; border-radius:15px; background:rgba(218,41,28,.8);}
#button a:nth-of-type(2) {margin-right:0;}

/* After & Before Area */
.content_area::before {content:''; display:block; width:100%; height:1px; background:#ccc; position:absolute; left:0; top:-80px;}
.before::before {content:''; display:block; width:12px; height:12px; background:rgba(218,41,28,.8); position:absolute; left:-20px; top:50%; transform:rotate(45deg) translateY(-63%);}
.before::after {content:''; display:block; width:12px; height:12px; background:#fff; position:absolute; left:-14px; top:50%; transform:rotate(45deg) translateY(-63%);}
.next::before {content:''; display:block; width:12px; height:12px; background:rgba(218,41,28,.8); position:absolute; right:-7px; top:50%; transform:rotate(45deg) translateY(-63%);}
.next::after {content:''; display:block; width:12px; height:12px; background:#fff; position:absolute; right:-1px; top:50%; transform:rotate(45deg) translateY(-63%);}
.main_categoryBox::before, .sub_categoryBox::before {content:''; display:block; width:84%; height:1px; background:#ccc; position:absolute; left:50%; transform:translateX(-50%); bottom:2px;}
.size_selectBox>dd:nth-of-type(1)::before {content:''; width:6px; height:36%; background:rgba(218,41,28,.8); border-radius:20px; position:absolute; right:-52px; bottom:14%;}