.sub_nav {width:100%; overflow:hidden; margin-top:50px;}
.sub_nav li {width:50%; height:fit-content; float:left; background:rgb(225,84,73);}
.sub_nav li a {display:block; width:100%; text-align:center; font-size:1.22em; font-weight:700; color:#fff; padding:15px 0;}
.sub_nav .current {background:#fff; position:relative;}
.sub_nav .current a {color:rgb(225,84,73);}
.sub_nav .current::before {content:''; display:block; width:100%; height:1px; background:rgb(225,84,73); position:absolute; left:0; bottom:0;}

#content {width:100%; overflow:hidden;}
#content section {margin-bottom:90px; width:100%; overflow:hidden; position:relative;}
#content h2 {width:100%; font-family:'Nanum Gothic', sans-serif; font-weight:700; font-size:2.3em; color:#333; text-align:center; padding:20px 0; margin-bottom:25px; margin-top:25px;}
#content h3 {position:absolute; left:-300%;}

.content_inner #kakaoMap {width:90%; margin:0 5% 60px; box-shadow:#ccc 0 0 10px 0; border-radius:15px 0 15px 0;}

.content_inner .con_info {width:90%; margin:0 5%; position:relative;}
.content_inner .con_info ul {width:100%;}
.content_inner .con_info ul li {width:86%; padding:0 7%;}
.content_inner .con_info ul li:nth-child(1) {margin-bottom:60px;}
.content_inner .con_info ul li dl {color:#666; text-align:left; text-transform:capitalize;}
.content_inner .con_info ul li dl dt {width:fit-content; font-family:'Arial', sans-serif; font-size:1.5em; font-weight:400; position:relative; margin-bottom:35px;}
.content_inner .con_info ul li dl dt::before {content:''; display:block; width:600px; height:2px; background:rgb(218,41,28); position:absolute; right:0; bottom:-8px;}
.content_inner .con_info ul li dl dt::after {content:''; display:block; width:4px; height:13px; background:rgb(218,41,28); position:absolute; right:-32px; bottom:7px;}
.content_inner .con_info ul li dl dd {font-family:'Nanum Gothic', sans-serif; font-weight:400; margin-bottom:15px; line-height:1.9em;}
.content_inner .con_info ul li:nth-child(2) dl dd:nth-last-child(1) {margin-bottom:0;}