#content {width:100%; margin:0 auto; background:url(../images/content2/wing_bg.svg) center 650px no-repeat;}

.content_area h3 {margin:0 auto; font-family:'Nanum Gothic', sans-serif; font-weight:700; font-size:1.6em;}
.content_1 p {width:1200px; margin:0 auto; font-family:'Nanum Gothic', sans-serif; font-weight:700; font-size:2.1em; color:#333; text-align:center; padding-top:240px; padding-bottom:140px; 
              display:block; position:relative; text-transform:capitalize; line-height:1.85em;}
.content_1 p::before {content:''; display:block; width:66px; height:2px; background:rgb(218,41,28); position:absolute; left:50%; top:119px; margin-left:-33px;}
.content_1 p span:nth-of-type(1) {color:rgb(218,41,28);}
.content_1 p span:nth-of-type(2) {color:rgb(136,176,75);}
.content_1 p span:nth-of-type(3) {color:rgb(90,91,159);}

.content_2 {width:1200px; margin:0 auto; position:relative; overflow:hidden; margin-bottom:180px;}
.content_2 h3 {color:#fff; text-align:center; display:block; width:156px; height:93px; border-radius:90px; background:rgba(218,41,28,.8); padding-top:54px;
                position:absolute; left:50%; top:355px; margin-left:-78px;}
.content_2 ul {font-family:'Nanum Gothic', sans-serif; font-weight:400; text-align:center; overflow:hidden;}
.content_2 ul li {display:block; width:300px; height:300px; border-radius:180px; position:relative; background:#fff;}
.content_2 ul li:nth-of-type(1) {border:8px solid rgba(218,41,28,.8); margin:0 auto 90px;}
.content_2 ul li:nth-of-type(1)::after {content:''; display:block; width:70px; height:70px; border-radius:60px; background:rgba(218,41,28,.8); 
                                        position:absolute; left:50%; bottom:-45px; margin-left:-35px;}
.content_2 ul li:nth-of-type(2) {border:8px solid rgba(90,91,159,.8); float:left; margin-left:203px;}
.content_2 ul li:nth-of-type(2)::after {content:''; display:block; width:70px; height:70px; border-radius:60px; background:rgba(90,91,159,.8); 
                                        position:absolute; right:-25px; top:40px;}
.content_2 ul li:nth-of-type(3) {border:8px solid rgba(136,176,75,.8); float:right; margin-right:203px;}
.content_2 ul li:nth-of-type(3)::after {content:''; display:block; width:70px; height:70px; border-radius:60px; background:rgba(136,176,75,.8); 
                                        position:absolute; left:-25px; top:40px;}
.content_2 ul li dl {overflow:hidden;}
.content_2 ul li dl dt {text-transform:uppercase; font-weight:700; font-size:1.4em; margin-top:69px; position:relative;}
.content_2 ul li dl dt::after {content:''; display:block; height:2px; width:100px;position:absolute; left:50%; top:50px; margin-left:-50px;}
.content_2 ul li dl dd {display:block; width:195px; color:#666; margin:30px auto; font-size:.95em; line-height:1.8em;}
.content_2 ul li:nth-of-type(1) dl dt {color:rgb(218,41,28);}
.content_2 ul li:nth-of-type(1) dl dt::after { background:rgb(218,41,28);}
.content_2 ul li:nth-of-type(2) dl dt {color:rgb(90,91,159);}
.content_2 ul li:nth-of-type(2) dl dt::after { background:rgb(90,91,159);}
.content_2 ul li:nth-of-type(3) dl dt {color:rgb(136,176,75);}
.content_2 ul li:nth-of-type(3) dl dt::after { background:rgb(136,176,75);}

.content_3 {width:1200px; margin:0 auto;}
.content_3 h3 {padding-left:46px; position:relative;}
.content_3 h3::before {content:''; display:block; width:6px; height:25px; background:rgb(218,41,28); position:absolute; left:20px; top:7px;}
.content_3 h3::after {content:''; display:block; width:160px; height:60px; border-radius:0 40px 0 0; border-top:2px solid rgb(218,41,28); border-right:2px solid rgb(218,41,28);position:absolute; left:180px; top:18px;}
.content_3 ul {font-family:'Nanum Gothic', sans-serif; font-weight:400; text-align:left; margin:60px 0 180px 255px; overflow:hidden;}
.content_3 ul li dl {padding-top:50px; position:relative; margin-bottom:80px;}
.content_3 ul li dl::after {content:''; display:block; width:500px; height:3px; border-bottom:2px solid rgb(218,41,28); position:absolute; left:230px; bottom:-68px;}
.content_3 ul li:nth-last-of-type(1) dl::after {display:none;}
.content_3 ul li dl dt {font-weight:700; font-size:1.2em; text-align:center; color:#fff; background:rgba(218,41,28,.8); 
                        display:block; width:170px; height:100px; border-radius:87px; padding-top:70px; position:absolute; left:0; top:0;}
.content_3 ul li dl dt::before {content:''; display:block; width:152px; height:152px; border-radius:80px; border:2px solid #fff; position:absolute; left:7px; top:7px;}
.content_3 ul li:nth-of-type(1) dl dt {width:170px; height:110px; border-radius:87px; padding-top:60px;}
.content_3 ul li dl dd {margin:0 0 25px 225px; line-height:1.9em;}